<footer>
    <div class="social">
        <ul>
            <li><a href="/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="privacy">
        <p>© 2020 Uber Technologies Inc.</p>
    </div>
</footer>