<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UberEats</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        {{> _navbar}}
        {{> _msg}}
    </header>
    {{{body}}}
    <footer>
        {{> _footer}}
    </footer>
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv6L6EQRx26P1ERqcV-a7RrylP5vh3avs&libraries=places"></script>
    <script src="../../js/client.js"></script>
</body>

</html>