<section>
    <div class="search_area">
        <div class="img_area">
            <img alt="" src="../images/d3ee3d72a591a5a3758c7f53821b566b.svg">
            <img alt="" src="../images/488845979fb856e8d42de4507115088f.svg">
        </div>
        <div class="form_area">
            <h1>Your favorite food, delivered with Uber</h1>
            <form class="form-inline form_area_2">
                <svg width="24px" height="24px" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    role="presentation" aria-hidden="true" focusable="false">
                    <path
                        d="M17.5834 5.16602C14.5001 2.08268 9.50008 2.08268 6.41675 5.16602C3.33341 8.24935 3.33341 13.3327 6.41675 16.416L12.0001 21.9993L17.5834 16.3327C20.6667 13.3327 20.6667 8.24935 17.5834 5.16602ZM12.0001 12.416C11.0834 12.416 10.3334 11.666 10.3334 10.7493C10.3334 9.83268 11.0834 9.08268 12.0001 9.08268C12.9167 9.08268 13.6667 9.83268 13.6667 10.7493C13.6667 11.666 12.9167 12.416 12.0001 12.416Z"
                        fill="#000000"></path>
                </svg>
                <input class="form-control mr-sm-2 find_food_bar" type="search" id="search_input" autocomplete="on"
                    placeholder="Enter Delivery Address" aria-label="Search">
                <input type="hidden" id="latitude_input">
                <input type="hidden" id="longitude_input">
                <button class="btn btn-dark my-2 my-sm-0 text-light find_food" type="submit">Find Food</button>
            </form>
        </div>
    </div>
    <h3 style="margin: 11% 5%;margin-bottom: 0%;">Food Delivery in San Francisco Bay Area</h3>
    <div class="cards_shop">
        <div class="card" style="width: 18rem;">
            <a href="/">
                <img src="../images/mcdonalds.jpeg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">McDonald's® (Potrero)</h5>
                <p class="card-text">$2.99 Delivery Fee&nbsp;•&nbsp;10–20 Min&nbsp;•&nbsp;$</p>
                <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i>4.6</p>
                <p class="card-text">American • Fast Food • Burgers</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/">
                <img src="../images/starbucks.jpeg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Starbucks® (Laurel Village)</h5>
                <p class="card-text"><span class="fn fv fg" style="text-decoration: line-through;">$4.99</span>&nbsp;$0
                    Delivery Fee&nbsp;•&nbsp;15–25
                    Min&nbsp;•&nbsp;$</p>
                <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i>4.8</p>
                <p class="card-text">Cafe • Coffee &amp; Tea • Breakfast and Brunch • Bakery</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/">
                <img src="../images/mexican grill.jpeg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Chipotle Mexican Grill</h5>
                <p class="card-text">$2.99 Delivery Fee&nbsp;•&nbsp;10–20 Min&nbsp;•&nbsp;$</p>
                <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i>4.0</p>
                <p class="card-text">Healthy • Mexican</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/">
                <img src="../images/poppye.jpeg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Popeyes (1426 Fillmore St)</h5>
                <p class="card-text">$1.99 Delivery Fee&nbsp;•&nbsp;15–25 Min&nbsp;•&nbsp;$</p>
                <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i>4.4</p>
                <p class="card-text">American • Fast Food • Comfort Food</p>
            </div>
        </div>
    </div>
</section>