<div class="pagenot">
    <a href="/"><img src="../images/pagenotfound.svg" alt="error"></a>
    <h1>Nothing to eat here...</h1>
    <p>Let’s discover something delicious.</p>
    <a href="/" style="text-decoration: none;"><button class="btn btn-block btn-dark viebtn">View
            Restaurants</button></a>
</div>